node_modules
.next
.git
.env*.local
*.md
docs
.DS_Store
Thumbs.db
dist
build
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.idea
.vscode
*.swp
*.swo
*~
.Dockerignore
Dockerfile
docker-compose*.yml
.drizzle
*.sql
stress-tests
e2e
.vs
*.suo
*.ntvs*
*.njsproj
*.sln